{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Vote</th>
            <th>NbLike</th>
            <th>NbUnlike</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sejour in sejours %}
            {% dump(sejour.getSejourUser) %}
            <tr>
                <td>{{ sejour.id }}</td>
                <td><img style="max-width: 50px" src="{{ asset('uploads/sejour_picture/'~ sejour.image) }}"></td>
                <td>{{ sejour.titre }}</td>
                <td>{{ sejour.description }}</td>
                <td>{{ sejour.getUserReaction(app.user) }}</td>
                <td>{{ sejour.getNbLike() }}</td>
                <td>{{ sejour.getNbUnlike() }}</td>
                <td>
                    <a href="{{ path('default_like', {'id': sejour.id}) }}">J'aime</a> <br>
                    <a href="{{ path('default_unlike', {'id': sejour.id}) }}">J'aime pas !</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
