{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ '404message'|trans }} !</h1>
    <h2>Détail : {{ error.message }}</h2>
    <h4>Fichier : {{ error.file }} - Ligne {{ error.line }}</h4>
    <br>
    <a href="{{ path('default') }}">Revenir quelque part</a>
{% endblock body %}
