{% extends 'base.html.twig' %}

{% block title %}Hello RoleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <table>
        <tbody>
        <tr>
            <td>{{ 'username' | trans }}</td>

            <td>Role</td>
            <td>Action</td>
        </tr>
        </tbody>
    </table>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Est admin</th>
            <th scope="col">Est super admin</th>
            <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>

        {% for user in users %}

            <tr>
                <td>{{ user.username }}</td>
                <td>{{ (user.hasRole("ROLE_ADMIN")) ? 'Oui' : 'Non' }}</td>
                <td>{{ (user.hasRole("ROLE_SUPER_ADMIN")) ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('role_form', {'id': user.id}) }}">Editer les droits de {{ user.username }}</a>
                </td>
            </tr>

        {% endfor %}


        </tbody>
    </table>


</div>
{% endblock %}
