<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
<body>
<a href="{{ path('default', { '_locale': 'fr' }) }}">FRANCAIS !!!!! </a>
<a href="{{ path('default', { '_locale': 'en' }) }}">Anglais !!!!! </a> <br>
{% block menu %}
    {% if app.user %}
    <a href="{{ path('app_logout', {'_locale': app.request.server.get('locale')}) }}">{{ 'logout'|trans}}</a>
    <a href="{{ path('default', {'_locale': app.request.server.get('locale')}) }}">{{ 'home'|trans }}</a>
    {% if app.user.hasRole('ROLE_ADMIN') %}
        <a href="{{ path('sejour_index', {'_locale': app.request.server.get('locale')}) }}">{{ 'admin_sejour' | trans }}</a>
    {% endif %}

    {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('role', {'_locale': app.request.server.get('locale') }) }}">{{ 'admin_role' | trans }}</a>
    {% endif %}
    {% endif %}
{% endblock %}

{% block body %}{% endblock %}
</body>
</html>
