{% extends 'base.html.twig' %}

{% block title %}Sejour index{% endblock %}

{% block body %}
    <h1>Sejour index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Titre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sejour in sejours %}
            <tr>
                <td>{{ sejour.id }}</td>
                <td><img style="max-width: 50px" src="{{ asset('uploads/sejour_picture/'~ sejour.image) }}"></td>
                <td>{{ sejour.titre }}</td>
                <td>{{ sejour.description }}</td>
                <td>
                    <a href="{{ path('sejour_show', {'id': sejour.id}) }}">show</a>
                    <a href="{{ path('sejour_edit', {'id': sejour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sejour_new') }}">Create new</a>
{% endblock %}
