{% extends 'base.html.twig' %}

{% block title %}Sejour{% endblock %}

{% block body %}
    <h1>Sejour</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sejour.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ sejour.image }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ sejour.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sejour.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sejour_index') }}">back to list</a>

    <a href="{{ path('sejour_edit', {'id': sejour.id}) }}">edit</a>

    {{ include('sejour/_delete_form.html.twig') }}
{% endblock %}
